[submodule "frontend"]
	path = frontend
	url = ./frontend
[submodule "backend"]
	path = backend
	url = ./backend
[submodule "https://github.com/HyperTNTClown/webmonopoly_frontend.git"]
	url = ./frontend
[submodule "https://github.com/HyperTNTClown/webmonopoly_backend.git"]
	url = ./backend
