[submodule "frontend"]
	path = frontend
	url = git@github.com:HyperTNTClown/webmonopoly_frontend.git
        update = merge
	branch = master
[submodule "backend"]
	path = backend
	url = git@github.com:HyperTNTClown/webmonopoly_backend.git
	update = merge
	branch = master
